@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

@font-face {
  font-family: arrows;
  src: url(../fonts/arrows.ttf);
}

body,
html {
    padding: 0;
    margin: 0;
    background-color: #F5F0ED;
}

body{
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  color: #1E1A19;
}

h1,
h2,
h3,
h4,
h5{
  font-family: Open Sans;
  line-height: 1;
}

h2{
  font-size: 28px;
  color: #1E1A19;
  font-family: Open Sans;
  margin-bottom: 20px;
  text-transform: none;
  display: block;
  font-weight: normal;
}

h3{
  font-size: 24.5px;
  margin: 10px 0;
}

a{
  text-decoration: none;
  outline: none;
  color: #1E1A19;
}

a:hover,
a:active{
  color: #1E1A19;
  text-decoration: none;
}

.wrap-menu{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding: 20px 25px;
}

.wrap-menu.header{
    border-bottom: 1px solid #1E1A19;
}

.wrap-menu.footer{
    border-top: 1px solid #1E1A19;
}

.wrap-menu ul.menu{
    margin: 0;
}

.wrap-menu ul.menu li.menu-item{
    display: inline-block;
    border-right: 1px solid #1E1A19;
    padding: 0 10px;
    line-height: 1;
}

.wrap-menu ul.menu li.menu-item:last-child{
    border-right: none;
}

.wrap-menu ul.menu li.menu-item a{
    font-size: 16px;
}

.container{
    padding: 0 0 20px;
}

.row{
    padding: 20px 0 25px;
    border-bottom: 1px solid #1E1A19;
}

.row:last-child{
    border-bottom: none;
}

.row h1{
    margin: 0 0 30px;
}

.row .post-wrap{
    width: 100%;
    padding: 10px;
}

.row .post-wrap .wrap-content{
    width: 100%;
    min-height: 500px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    background: #fff;
    margin: 0 auto;
}

.row .post-wrap .wrap-content .image img{
    width: 100%;
}

.row .post-wrap .wrap-content .content{
    min-height: 170px;
}

.row .post-wrap .wrap-content .author-img img{
    border-radius: 50%;
}

#subscription .form-group.row{
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0;
    min-height: 300px;
}

/*button to top*/
#button-top{
  width: 45px;
  height: 45px;
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 90px;
  cursor: pointer;
  display: none;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

#button-top #button{
  opacity: 0.5;
  width: 100%;
  height: 100%;
  border: 1px solid #1E1A19;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

#button-top #button:hover{
  opacity: 1;
}

#button-top .button-top::after{
  content: "\f106";
  font-family: FontAwesome;
  color: #1E1A19;
  font-size: 25px;
}
